#projects-container {
  background: url('../assets/ProjectContainer/background/dark-wallpaper-28.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  position: fixed;
  width: 100vw;
}

.nav-menu-container {
  display: flex;
  margin: 50px 0 0 50px;
  width: fit-content;
}

.project-category-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-column-gap: 15px;
  margin: 25px 0 0 50px;
}

.project-name-display {
  display: grid;
  grid-template-rows: repeat(auto-fill, auto);
  row-gap: 20px;
  margin: 150px 50px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
}