#technologies-container {
  align-items: center;
  background: url('../assets/Technologies/background/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg')
    center center;
  background-repeat: no-repeat;
  /* background-size: 160% 150%;
  background-position: 100% 90%; */
  /* background-position: center; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  position: fixed;
  width: 100%;
  z-index: -1;
}

#technologies-container::after {
  background-color: rgba(0, 0, 0, 0.432);
  content: ' ';
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.tech-circle-container {
  /* background-color: white; */
  align-items: center;
  display: flex;
  height: 520px;
  justify-content: center;
  margin: 50px;
  position: relative;
  width: 520px;
}

/* .techno-outer-circle-mandala {
  transform: rotate(-6deg);
  width: 55%;
}
 */
.techno-inner-circle {
  /* background: url('../assets/Technologies/mern-stack.png') center center; */
  /* background-repeat: no-repeat;
  background-size: 230% 130%;
  background-position: 50% 45%; */
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;
}

.techno-basics-image {
  background: linear-gradient(rgba(125, 86, 223, 0.599), rgba(52, 104, 173, 0.597));
  border-radius: 50%;
  margin: 2px 0 0 0;
  width: 200px;
}

.pics-outer-circle {
  border: 2px solid rgba(255, 255, 255, 0.362);
  border-radius: 50%;
  height: 520px;
  position: absolute;
  /* transform: rotate(23deg); */
  width: 520px;
}

.logo-outer-circle {
  /* background-color: rgba(0, 0, 0, 0.379); */
  border-radius: 10%;
  display: block;
  left: 43%;
  position: absolute;
  top: 43%;
  width: 70px;
}

.pics-inner-circle {
  border: 2px solid rgba(255, 255, 255, 0.367);
  border-radius: 50%;
  height: 350px;
  position: absolute;
  width: 350px;
}

/* background-color: rgba(0, 0, 0, 0.379); */
.logo-inner-circle {
  border-radius: 5%;
  display: block;
  left: 42%;
  position: absolute;
  top: 42%;
  width: 60px;
}

.tool-box {
  align-items: center;
  /* background-color: rgb(51, 51, 184); */
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to right, rgba(125, 86, 223, 0.599), rgba(52, 104, 173, 0.597));
  border-image-slice: 1;
  bottom: 135px;
  display: flex;
  flex-direction: row;
  height: 0;
  justify-content: center;
  /* overflow: hidden; */
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  width: 100%;
}

.tool-box-logo {
  animation: slide 40s ease-out infinite;
  /* background-color: blue; */
  /* left: 0; */
  /* top: -30px; */
  /* margin-top: -40px; */
  margin: 0 80px;
  bottom: 135px;
  /* position: absolute; */
  width: 40px;
}

.techno-tools-chest {
  bottom: 0;
  height: 100px;
  position: fixed;
  width: 150px;
}

.techno-chest-video {
  background-color: transparent;
  bottom: 0;
  height: 100px;
  position: fixed;
  width: 150px;
}

.techno-nav-icons {
  /* align-content: center; */
  background-color: black;
  bottom: 0;
  color: white;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
  height: 60px;
  /* justify-items: center; */
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 600px;
}

.techno-nav-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: blue;
}

.exit-to-menu-button {
  background-color: blue;
  border: 10px solid black;
  bottom: 0;
  color: white;
  height: 50px;
  position: absolute;
  right: 0;
  margin: 0 80px 20px 0;
  text-align: center;
  width: 80px;
}

.techno-info-box {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20%;
  color: black;
  height: 250px;
  margin-top: 100px;
  padding: 35px;
  position: absolute;
  text-align: center;
  width: 200px;
}

.techno-info-box > h2 {
  margin-bottom: 20px;
}

.techno-info-box > p {
  font-size: 17px;
}

.right {
  border: 10px double rgb(96, 0, 128);
  margin-right: 80px;
  right: 0;
}

.left {
  border: 10px double rgb(20, 77, 184);
  left: 0;
  margin-left: 80px;
}






.deg-0 {
  /* transform: translate(175px); */
  animation: pic-spin-reverse-deg-0 infinite 100s linear;
}

.deg-45 {
  transform: rotate(45deg) translate(175px) rotate(-45deg);
}

.deg-90 {
  /* transform: rotate(90deg) translate(175px) rotate(-90deg); */
  animation: pic-spin-reverse-deg-90 infinite 100s linear;
}

.deg-135 {
  transform: rotate(135deg) translate(175px) rotate(-135deg);
}

.deg-180 {
  /* transform: rotate(180deg) translate(175px) rotate(-180deg); */
  animation: pic-spin-reverse-deg-180 infinite 100s linear;
}

.deg-225 {
  transform: rotate(225deg) translate(175px) rotate(-225deg);
}

.deg-270 {
  /* transform: rotate(272deg) translate(175px) rotate(-272deg); */
  animation: pic-spin-reverse-deg-270 infinite 150s linear;
}

.deg-315 {
  transform: rotate(315deg) translate(175px) rotate(-315deg);
}

.deg-0-outer {
  transform: translate(260px) rotate(-23deg);
  animation: pic-spin-reverse-outer-0 infinite 90s linear;
}

.deg-45-outer {
  transform: rotate(45deg) translate(260px) rotate(-68deg);
  animation: pic-spin-reverse-outer-45 infinite 90s linear;
}

.deg-90-outer {
  transform: rotate(90deg) translate(260px) rotate(-110deg);
  animation: pic-spin-reverse-outer-90 infinite 90s linear;
}

.deg-135-outer {
  transform: rotate(135deg) translate(260px) rotate(-158deg);
  animation: pic-spin-reverse-outer-135 infinite 90s linear;
}

.deg-180-outer {
  transform: rotate(179deg) translate(260px) rotate(-200deg);
  animation: pic-spin-reverse-outer-180 infinite 90s linear;
}

.deg-225-outer {
  transform: rotate(224deg) translate(260px) rotate(-247deg);
  animation: pic-spin-reverse-outer-225 infinite 90s linear;
}

.deg-270-outer {
  transform: rotate(270deg) translate(260px) rotate(-295deg);
  animation: pic-spin-reverse-outer-270 infinite 90s linear;
}

.deg-315-outer {
  transform: rotate(315deg) translate(260px) rotate(-338deg);
  animation: pic-spin-reverse-outer-315 infinite 90s linear;
}

@media (prefers-reduced-motion: no-preference) {
  /* .techno-outer-circle-mandala:not(.techno-outer-circle > div) {
    animation: techno-spin-mandala infinite 100s linear;
  } */
  /*  .techno-basics-image {
    animation: techno-spin-reverse infinite 45s linear;
  } */
  .pics-inner-circle {
    animation: techno-spin-reverse infinite 100s linear;
  }
  .pics-outer-circle {
    animation: techno-spin infinite 90s linear;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(1700px, 0, 0);
  }
  100% {
    transform: translate3d(-1690px, 0, 0); /* The image width */
  }
}

@keyframes techno-spin-mandala {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes techno-spin {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}

@keyframes techno-spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes pic-spin-reverse-deg-0 {
  0% {
    transform: rotate(0deg) translate(175px) rotate(0deg);
  }
  100% {
    transform: rotate(0deg) translate(175px) rotate(360deg);
  }
}
@keyframes pic-spin-reverse-deg-90 {
  0% {
    transform: rotate(90deg) translate(175px) rotate(-90deg);
  }
  100% {
    transform: rotate(90deg) translate(175px) rotate(90deg);
  }
}
@keyframes pic-spin-reverse-deg-180 {
  0% {
    transform: rotate(180deg) translate(175px) rotate(-180deg);
  }
  100% {
    transform: rotate(180deg) translate(175px) rotate(180deg);
  }
}
@keyframes pic-spin-reverse-deg-270 {
  0% {
    transform: rotate(272deg) translate(175px) rotate(-274deg);
  }
  100% {
    transform: rotate(272deg) translate(175px) rotate(274deg);
  }
}

@keyframes pic-spin-reverse-outer-0 {
  0% {
    transform: rotate(0deg) translate(260px) rotate(-23deg);
  }
  100% {
    transform: rotate(0deg) translate(260px) rotate(-383deg);
  }
}
@keyframes pic-spin-reverse-outer-45 {
  0% {
    transform: rotate(45deg) translate(260px) rotate(-68deg);
  }
  100% {
    transform: rotate(45deg) translate(260px) rotate(-428deg);
  }
}
@keyframes pic-spin-reverse-outer-90 {
  0% {
    transform: rotate(90deg) translate(260px) rotate(-110deg);
  }
  100% {
    transform: rotate(90deg) translate(260px) rotate(-473deg);
  }
}
@keyframes pic-spin-reverse-outer-135 {
  0% {
    transform: rotate(135deg) translate(260px) rotate(-150deg);
  }
  100% {
    transform: rotate(135deg) translate(260px) rotate(-518deg);
  }
}
@keyframes pic-spin-reverse-outer-180 {
  0% {
    transform: rotate(180deg) translate(260px) rotate(-200deg);
  }
  100% {
    transform: rotate(180deg) translate(260px) rotate(-563deg);
  }
}
@keyframes pic-spin-reverse-outer-225 {
  0% {
    transform: rotate(225deg) translate(260px) rotate(-247deg);
  }
  100% {
    transform: rotate(225deg) translate(260px) rotate(-608deg);
  }
}
@keyframes pic-spin-reverse-outer-270 {
  0% {
    transform: rotate(272deg) translate(260px) rotate(-298deg);
  }
  100% {
    transform: rotate(272deg) translate(260px) rotate(-653deg);
  }
}
@keyframes pic-spin-reverse-outer-315 {
  0% {
    transform: rotate(315deg) translate(260px) rotate(-338deg);
  }
  100% {
    transform: rotate(315deg) translate(260px) rotate(-698deg);
  }
}
