#technologies-container {
  align-items: center;
  background: url('../assets/Technologies/background/graham-holtshausen-fUnfEz3VLv4-unsplash.jpg')
    center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-items: center;
  overflow: hidden;
  position: fixed;
  transform-style: preserve-3d;
  width: 100vw;
}

#technologies-container::after {
  background-color: rgba(0, 0, 0, 0.432);
  content: ' ';
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.tech-circle-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: -5rem;
  position: relative;
  -webkit-transform: perspective(2000px) rotateX(50deg) scale(1.4) translateY(-50px);
  transform: perspective(2000px) rotateX(50deg) scale(1.5) translateY(-50px);
  width: 100vw;
  /* z-index: 1; */
}

.techno-outer-circle-mandala {
  animation: techno-spin infinite 700s linear;
  opacity: 0.1;
  width: 150vw;
}

.techno-inner-circle {
  /* background-color: blue; */
  border-radius: 50%;
  position: absolute;
  width: fit-content;
}


.techno-basics-image {
  /* background: linear-gradient(rgba(125, 86, 223, 0.599), rgba(52, 104, 173, 0.597)); */
  border-radius: 50%;
  margin: 0.4vh 0 0 0;
  width: 13vw;
}

.pics-outer-circle {
  border: 2px solid rgba(255, 255, 255, 0.362);
  border-radius: 50%;
  height: 34vw;
  position: absolute;
  width: 34vw;
}

.pics-outer-circle::before {
  background: url('../assets/background/bluetech-circle.png') center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: cover; */
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
}

.logo-outer-circle {
  /* background-color: rgba(0, 0, 0, 0.379); */
  border-radius: 10%;
  display: block;
  left: 43%;
  position: absolute;
  top: 43%;
  width: 4.55vw;
}

.pics-inner-circle {
  border: 2px solid rgba(255, 255, 255, 0.367);
  border-radius: 50%;
  height: 23vw;
  position: absolute;
  width: 23vw;
}

.logo-inner-circle {
  border-radius: 5%;
  display: block;
  left: 42%;
  position: absolute;
  top: 42%;
  width: 3.8vw;
}

.tool-box-logo-container {
  animation: slide 200s ease infinite;
  align-items: center;
  border-style: solid;
  border-width: 0.25vw;
  border-image: linear-gradient(to right, rgba(125, 86, 223, 0.599), rgba(52, 104, 173, 0.597));
  border-image-slice: 1;
  bottom: 9.5vw;
  display: flex;
  flex-direction: row;
  height: 0;
  padding: 0 2vw;
  position: absolute;
  width: fit-content;
}

.tool-box-logo-container:hover {
  animation-play-state: paused;
}

.tool-box-logo {
  border-radius: 20%;
  bottom: 9.5vw;
  margin: 0 3.25vw;
  width: 2.6vw;
}

.techno-tools-chest {
  bottom: 0;
  cursor: pointer;
  height: 7.5vw;
  position: fixed;
  right: 18vw;
  width: 11vw;
}

.techno-chest-video {
  background-color: transparent;
  bottom: 0;
  height: 7.5vw;
  position: fixed;
  right: 18vw;
  width: 11vw;
}

.techno-nav-icons {
  bottom: 0;
  color: white;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  gap: 30px;
  height: 65px;
  left: 0;
  margin: 0 0 1.5vw 2.5vw;
  justify-items: center;
  padding: 0.8vw;
  position: absolute;
  text-align: center;
  width: fit-content;
}

.techno-nav-icon {
  background-color: rgba(255, 255, 255, 0.464);
  border-radius: 50%;
  margin: 5px;
  width: 3vw;
}

.techno-nav-icon:hover {
  /* border: 2px double whitesmoke; */
  transform: scale(1.1);
  padding: 0.3vw;
}

.exit-to-menu-button {
  align-items: center;
  bottom: 0;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  height: fit-content;
  margin: 0 1.5vw 1.5vw 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  width: fit-content;
}

.exit-to-menu-button > img {
  width: 3.5vw;
}

.techno-info-box {
  background-color: rgba(255, 255, 255, 0.633);
  border-radius: 22%;
  box-sizing: border-box;
  color: black;
  height: 340px;
  margin-top: 100px;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 240px;
}

.techno-info-box > h2 {
  margin-bottom: 20px;
}

.techno-info-box > p {
  font-size: 17px;
}

.right {
  border: 10px double rgba(0, 249, 249, 0.601);
  display: none;
  margin-right: 50px;
  right: 0;
}

.left {
  border: 10px double rgb(198, 142, 0);
  display: none;
  left: 0;
  margin-left: 50px;
}

.bottom {
  border: 10px double black;
  bottom: 0;
  display: none;
  height: 120px;
  padding: 15px;
  width: 450px;
}

.bottom[style*='display: block'] {
  align-items: center;
  display: flex !important;
  flex-direction: row;
}

.bottom > p {
  border-left: 3px solid black;
}






.deg-0 {
  /* transform: translate(175px); */
  animation: pic-spin-reverse-deg-0 infinite 100s linear;
}

.deg-45 {
  transform: rotate(45deg) translate(11.5vw) rotate(-45deg);
}

.deg-90 {
  /* transform: rotate(90deg) translate(11.5vw) rotate(-90deg); */
  animation: pic-spin-reverse-deg-90 infinite 100s linear;
}

.deg-135 {
  transform: rotate(135deg) translate(11.5vw) rotate(-135deg);
}

.deg-180 {
  /* transform: rotate(180deg) translate(11.5vw) rotate(-180deg); */
  animation: pic-spin-reverse-deg-180 infinite 100s linear;
}

.deg-225 {
  transform: rotate(225deg) translate(11.5vw) rotate(-225deg);
}

.deg-270 {
  /* transform: rotate(272deg) translate(11.5vw) rotate(-272deg); */
  animation: pic-spin-reverse-deg-270 infinite 150s linear;
}

.deg-315 {
  transform: rotate(315deg) translate(11.5vw) rotate(-315deg);
}

.deg-0-outer {
  transform: translate(17vw) rotate(-23deg);
  animation: pic-spin-reverse-outer-0 infinite 90s linear;
}

.deg-45-outer {
  transform: rotate(45deg) translate(17vw) rotate(-68deg);
  animation: pic-spin-reverse-outer-45 infinite 90s linear;
}

.deg-90-outer {
  transform: rotate(90deg) translate(17vw) rotate(-110deg);
  animation: pic-spin-reverse-outer-90 infinite 90s linear;
}

.deg-135-outer {
  transform: rotate(135deg) translate(17vw) rotate(-158deg);
  animation: pic-spin-reverse-outer-135 infinite 90s linear;
}

.deg-180-outer {
  transform: rotate(179deg) translate(17vw) rotate(-200deg);
  animation: pic-spin-reverse-outer-180 infinite 90s linear;
}

.deg-225-outer {
  transform: rotate(224deg) translate(17vw) rotate(-247deg);
  animation: pic-spin-reverse-outer-225 infinite 90s linear;
}

.deg-270-outer {
  transform: rotate(270deg) translate(17vw) rotate(-295deg);
  animation: pic-spin-reverse-outer-270 infinite 90s linear;
}

.deg-315-outer {
  transform: rotate(315deg) translate(17vw) rotate(-338deg);
  animation: pic-spin-reverse-outer-315 infinite 90s linear;
}






@media (prefers-reduced-motion: no-preference) {
  /* .techno-outer-circle-mandala:not(.techno-outer-circle > div) {
    animation: techno-spin-mandala infinite 100s linear;
  } */
  /*  .techno-basics-image {
    animation: techno-spin-reverse infinite 45s linear;
  } */
  .pics-inner-circle {
    animation: techno-spin-reverse infinite 100s linear;
  }
  .pics-outer-circle {
    animation: techno-spin infinite 90s linear;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(1500px, 0, 0);
  }
  50% {
    transform: translate3d(-1500px, 0, 0); /* The image width */
  }
  100% {
    transform: translate3d(1500px, 0, 0); /* The image width */
  }
}

@keyframes techno-spin-mandala {
  from {
    transform: rotate(-6deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes techno-spin {
  from {
    transform: rotate(20deg);
  }
  to {
    transform: rotate(380deg);
  }
}

@keyframes techno-spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes pic-spin-reverse-deg-0 {
  0% {
    transform: rotate(0deg) translate(11.5vw) rotate(0deg);
  }
  100% {
    transform: rotate(0deg) translate(11.5vw) rotate(360deg);
  }
}

@keyframes pic-spin-reverse-deg-90 {
  0% {
    transform: rotate(90deg) translate(11.5vw) rotate(-90deg);
  }
  100% {
    transform: rotate(90deg) translate(11.5vw) rotate(90deg);
  }
}

@keyframes pic-spin-reverse-deg-180 {
  0% {
    transform: rotate(180deg) translate(11.5vw) rotate(-180deg);
  }
  100% {
    transform: rotate(180deg) translate(11.5vw) rotate(180deg);
  }
}

@keyframes pic-spin-reverse-deg-270 {
  0% {
    transform: rotate(272deg) translate(11.5vw) rotate(-274deg);
  }
  100% {
    transform: rotate(272deg) translate(11.5vw) rotate(274deg);
  }
}

@keyframes pic-spin-reverse-outer-0 {
  0% {
    transform: rotate(0deg) translate(17vw) rotate(-23deg);
  }
  100% {
    transform: rotate(0deg) translate(17vw) rotate(-383deg);
  }
}

@keyframes pic-spin-reverse-outer-45 {
  0% {
    transform: rotate(45deg) translate(17vw) rotate(-68deg);
  }
  100% {
    transform: rotate(45deg) translate(17vw) rotate(-428deg);
  }
}

@keyframes pic-spin-reverse-outer-90 {
  0% {
    transform: rotate(90deg) translate(17vw) rotate(-110deg);
  }
  100% {
    transform: rotate(90deg) translate(17vw) rotate(-473deg);
  }
}

@keyframes pic-spin-reverse-outer-135 {
  0% {
    transform: rotate(135deg) translate(17vw) rotate(-150deg);
  }
  100% {
    transform: rotate(135deg) translate(17vw) rotate(-518deg);
  }
}

@keyframes pic-spin-reverse-outer-180 {
  0% {
    transform: rotate(180deg) translate(17vw) rotate(-200deg);
  }
  100% {
    transform: rotate(180deg) translate(17vw) rotate(-563deg);
  }
}

@keyframes pic-spin-reverse-outer-225 {
  0% {
    transform: rotate(225deg) translate(17vw) rotate(-247deg);
  }
  100% {
    transform: rotate(225deg) translate(17vw) rotate(-608deg);
  }
}

@keyframes pic-spin-reverse-outer-270 {
  0% {
    transform: rotate(272deg) translate(17vw) rotate(-298deg);
  }
  100% {
    transform: rotate(272deg) translate(17vw) rotate(-653deg);
  }
}

@keyframes pic-spin-reverse-outer-315 {
  0% {
    transform: rotate(315deg) translate(17vw) rotate(-338deg);
  }
  100% {
    transform: rotate(315deg) translate(17vw) rotate(-698deg);
  }
}
