.simple-projects-container {
  position: absolute;
  perspective: 1000px;
  left: 615px;
  margin: auto;
  top: 520px;
  width: 320px;
}

.simple-projects-carousel {
  animation: rotate360 60s infinite forwards linear;
  position: absolute;
  height: 100%;
  transform-style: preserve-3d;
  width: 100%;
}

.simple-projects-carousel:hover {
  animation-play-state: paused;
}

.carousel__face {
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 120px;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 230px;
}

.carousel__face > span {
  margin: auto;
  font-size: 2rem;
}



.carousel__face:nth-child(1) {
  /* background-image: url(''); */
  transform: rotateY(0deg) translateZ(350px);
}
.carousel__face:nth-child(2) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(40deg) translateZ(350px);
}
.carousel__face:nth-child(3) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(80deg) translateZ(350px);
}
.carousel__face:nth-child(4) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(120deg) translateZ(350px);
}
.carousel__face:nth-child(5) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(160deg) translateZ(350px);
}
.carousel__face:nth-child(6) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(200deg) translateZ(350px);
}
.carousel__face:nth-child(7) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(240deg) translateZ(350px);
}
.carousel__face:nth-child(8) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(280deg) translateZ(350px);
}
.carousel__face:nth-child(9) {
  background-image: url('../../../assets/ProjectContainer/background/428749.jpg');
  transform: rotateY(320deg) translateZ(350px);
}


@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
