@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body,
html {
  z-index: -100;
  /* height: 100%; */
  /* width: 100%; */
}

.card {
  @apply bg-red-800 text-yellow-500 w-full h-full;
}

.font-ultra-expanded {
  font-stretch: ultra-expanded;
}

.fade-in {
  animation: fadeIn 2s;
  opacity: 1;
}

.fade-out {
  animation: fadeOut 3s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}