@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body,
html {
  z-index: -100;
  /* height: 100%; */
  /* width: 100%; */
}

.card {
  @apply bg-red-800 text-yellow-500 w-full h-full;
}