.simple-projects-background {
  background: url('../../assets/background/assassins_creed_2_wallpaper_by_motopaddy_d2qikj7.jpg') center center;
  /* background-color: rgba(0, 0, 0, 0.881); */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  position: relative;
  width: 100vw;
}

.projects-heading {
  align-self: flex-start;
  color: darkred;
  font-size: 34px;
  margin: 20px 0 0 75px;
}

.projects-navbar {
  align-self: center;
  border-top: 2px solid rgba(0, 0, 0, 0.671);
  border-bottom: 2px solid rgba(0, 0, 0, 0.671);
  padding: 4px 0;
  width: 90%;
}

.projects-navbar > a {
  color: black;
  padding: 5px 50px;
  text-decoration: none;
}

.projects-navbar > a:hover {
  background-color: darkred;
  color: white;
}

.simple-projects-title-description {  
  display: none;
  margin: 175px 0 0 75px;
  position: absolute;
}

.simple-projects-title-description > h2 {
  margin-bottom: 20px;
}

.project-preview {
  align-self: center;
  background-color: gray;
  -webkit-box-shadow: 
    0px 0px 0px 5px darkred, 
    inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px black,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 
    0px 0px 0px 5px rgba(139, 0, 0, 0.804), 
    inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px black, 
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: outset 5px 15px;
  height: 300px;
  margin-top: 50px;
  width: 600px;
}

.simple-projects-container {
  position: absolute;
  perspective: 1000px;
  left: 615px;
  margin: auto;
  top: 520px;
  width: 320px;
}

.simple-projects-carousel {
  animation: rotate360 60s infinite forwards linear;
  position: absolute;
  height: 100%;
  transform-style: preserve-3d;
  width: 100%;
}

.simple-projects-carousel:hover {
  animation-play-state: paused;
}

.carousel__face {
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 120px;
  left: 10px;
  margin: 0 auto;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 230px;
}

.carousel__face > span {
  margin: auto;
  font-size: 2rem;
}






.carousel__face:nth-child(1) {
  /* background-image: url(''); */
  transform: rotateY(0deg) translateZ(350px);
}
.carousel__face:nth-child(2) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(40deg) translateZ(350px);
}
.carousel__face:nth-child(3) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(80deg) translateZ(350px);
}
.carousel__face:nth-child(4) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(120deg) translateZ(350px);
}
.carousel__face:nth-child(5) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(160deg) translateZ(350px);
}
.carousel__face:nth-child(6) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(200deg) translateZ(350px);
}
.carousel__face:nth-child(7) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(240deg) translateZ(350px);
}
.carousel__face:nth-child(8) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(280deg) translateZ(350px);
}
.carousel__face:nth-child(9) {
  background-image: url('../../assets/background/428749.jpg');
  transform: rotateY(320deg) translateZ(350px);
}





@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
