.simple-projects-background {
  background: url('../../assets/ProjectContainer/background/assassins_creed_2_wallpaper_by_motopaddy_d2qikj7.jpg') center center;
  /* background-color: rgba(0, 0, 0, 0.881); */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  position: relative;
  width: 100vw;
}

.simple-projects-heading {
  align-self: flex-start;
  color: darkred;
  font-size: 34px;
  margin: 20px 0 0 75px;
}

.simple-projects-background .projects-navbar {
  align-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.671);
  border-bottom: 1px solid rgba(0, 0, 0, 0.671);
  padding: 4px 0;
  width: 90%;
}

.simple-projects-background .projects-navbar > a {
  color: black;
  cursor: default;
  padding: 5px 50px;
  text-decoration: none;
}

.simple-projects-background .projects-navbar > a:hover {
  background-color: darkred;
  color: white;
}

.simple-projects-title-description {  
  display: none;
  margin: 175px 0 0 75px;
  position: absolute;
  text-align: left;
}

.simple-projects-title-description > h2 {
  margin-bottom: 5px;
}

.simple-projects-title-description > p {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 2px 5px 15px 0;
  width: 320px;
}

.simple-projects-background .project-preview {
  align-self: center;
  background-color: gray;
  -webkit-box-shadow: 
    0px 0px 0px 5px darkred, 
    inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px black,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 
    0px 0px 0px 5px rgba(139, 0, 0, 0.804), 
    inset 0px 10px 27px -8px #141414,
    inset 0px -10px 27px -8px black, 
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  border-radius: 5px;
  box-shadow: outset 5px 15px;
  height: 300px;
  margin-top: 50px;
  width: 600px;
}

.simple-projects-background .projects-main-menu-items {
  font-size: 12px;
  margin: 0 0 5px 10px;
  grid-column-gap: 5px;
}

.simple-projects-background .exit-to-menu-button {
  color: black;
  margin: 0 10px 5px 0;
  transform: scale(0.8);
}