.capstone-display-container {
  display: grid;
  grid-column-gap: 15px;
  /* grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto); */
  grid-template-areas: 'proj proj' 'select-proj select-proj' 'ready-btn ready-btn';
  position: absolute;
  margin-top: 100px;
  width: fit-content;
}

.selected-project {
  background: rgba(96, 0, 0, 0.85);
  grid-area: 'select-proj';
  grid-column: 1 / 3;
  height: 30px;
  margin: 20px auto 0;
  position: relative;
  width: 675px;
}
.selected-project:after {
  border-top: 15px solid rgba(96, 0, 0, 0.85);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: -15px;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  width: 675px;
}
.selected-project > span {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.ready-button {
  background: rgba(96, 0, 0, 0.900);
  grid-area: 'ready-btn';
  grid-column: 1 / 3;
  height: 40px;
  margin: 50px auto 0;
  position: relative;
  width: 200px;
}
.ready-button::before {
  content: '';
  position: absolute;
  left: -12px;
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 10px solid transparent;
  border-right: 12px solid rgba(96, 0, 0, 0.900);
}
.ready-button::after {
  content: '';
  position: absolute;
  right: -12px;
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-top: 10px solid transparent;
  border-left: 12px solid rgba(96, 0, 0, 0.900);
}
.ready-button:hover {
  transform: scale(1.1);
}
.ready-button > span {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}