.intermediate-projects-images-container {
  bottom: 75px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  left: 50%;
  padding-bottom: 20px;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 1060px;
}

.intermediate-projects-images-container::-webkit-scrollbar {
  height: 8px;
}

.intermediate-projects-images-container::-webkit-scrollbar-track {
  background-color: rgb(84, 84, 84);
}

.intermediate-projects-images-container::-webkit-scrollbar-thumb {
  background-color: rgb(152, 152, 152);
  border-radius: 10px;
}