.intermediate-projects-container::before {
  background-color: black;
  bottom: 0;
  content: ' ';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.intermediate-projects-container {
  background: url('../../assets/ProjectContainer/background/Backgorund-wallpaper-dark.png') center
    center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: white; */
  box-shadow: 0 0 50px 50px rgb(0, 0, 0) inset;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.intermediate-projects-heading {
  margin: 20px 0 0 100px;
}

.intermediate-projects-container .projects-navbar {
  border-bottom-color: rgba(255, 255, 255, 0.566);
  border-top-color: rgba(255, 255, 255, 0.564);
  text-align: center;
  width: 85%;
}

.intermediate-projects-container .projects-navbar > a {
  color: white;
}

.intermediate-projects-container .projects-navbar > a:hover {
  background-color: white;
  color: black;
}

.intermediate-projects-container .simple-projects-title-description {
  display: block;
  letter-spacing: 0.1em;
  margin: 250px 0 0 200px;
  transform: perspective(1000px) rotateY(60deg) scale(1.5);
}

.intermediate-projects-container .simple-projects-title-description > p {
  border-bottom-color: rgba(255, 255, 255, 0.519);
  border-top-color: rgba(255, 255, 255, 0.512);
}

.intermediate-projects-images-container {
  bottom: 75px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  left: 50%;
  padding-bottom: 20px;
  position: absolute;
  transform: translate(-50%, 0%);
  width: 1060px;
}

.intermediate-projects-images-container::-webkit-scrollbar {
  height: 8px;
}

.intermediate-projects-images-container::-webkit-scrollbar-track {
  background-color: rgb(84, 84, 84);
}

.intermediate-projects-images-container::-webkit-scrollbar-thumb {
  background-color: rgb(152, 152, 152);
  border-radius: 10px;
}

.intermediate-projects-image-container {
  margin-right: 30px;
}

.intermediate-projects-image {
  border: 2px solid white;
  border-radius: 1px;
  box-sizing: border-box;
  height: 100px;
  position: relative;
  width: 160px;
}

.inter-projs-image-title {
  background-color: rgba(0, 0, 0, 0.479);
  bottom: 5px;
  padding: 1px 5px;
  position: absolute;
}

.intermediate-image-select {
  background-color: rgb(255, 238, 0);
  display: none;
  color: black;
  margin-bottom: 2px;
  padding: 5px;
}

.select-space {
  background-color: lightgray;
  border-left: 1px solid black;
  border-radius: 3px;
  border-right: 1px solid black;
  color: black;
  height: fit-content;
  font-weight: bold;
  margin: 0 5px;
  padding: 0 3px 3px 3px;
  text-align: center;
}

.projects-main-menu-items {
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 10px;
  margin: 0 0 20px 100px;
  position: absolute;
}

.projects-main-menu-items > a {
  background-color: rgb(91, 91, 91);
  color: white;
  cursor: default;
  padding: 3px 15px;
  text-decoration: none;
  width: fit-content;
}

.projects-main-menu-items > a:hover{ 
  transform: scale(1.1);
}

.intermediate-projects-container .exit-to-menu-button {
  font-size: 14px;
}

.intermediate-projects-container .exit-to-menu-button > img {
  width: 45px;
}

.intermediate-projects-container .project-preview {
  /*   background-image: url('../../assets/background/download.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  align-self: flex-end;
  -webkit-box-shadow: 
    0px 0px 0px 10px rgba(0, 0, 0, 0.525), 
    inset 0px 5px 17px 45px #000000,
    inset 0px -5px 17px 45px rgb(0, 0, 0), 
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 
    0px 0px 0px 10px rgba(0, 0, 0, 0.525), 
    inset 0px 5px 17px 45px #000000,
    inset 0px -5px 17px 45px rgb(0, 0, 0), 
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: 200px;
  margin: 150px 60px 0 0;
  transform: perspective(2000px) rotateY(-65deg);
  width: 420px;
}

