.intermediate-projects-container::before {
  background-color: black;
  bottom: 0;
  content: ' ';
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

.intermediate-projects-container {
  background: url('../../assets/ProjectContainer/background/Backgorund-wallpaper-dark.png') center
    center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: white; */
  box-shadow: 0 0 50px 50px rgb(0, 0, 0) inset;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.intermediate-projects-heading {
  margin: 20px 0 0 100px;
}

.intermediate-projects-container .projects-navbar {
  border-bottom-color: rgba(255, 255, 255, 0.566);
  border-top-color: rgba(255, 255, 255, 0.564);
  text-align: center;
  width: 85%;
}

.intermediate-projects-container .projects-navbar > a {
  color: white;
}

.intermediate-projects-container .projects-navbar > a:hover {
  background-color: white;
  color: black;
}

.intermediate-projects-container .simple-projects-title-description {
  display: block;
  letter-spacing: 0.1em;
  margin: 220px 100px 0 0;
  transform: perspective(2000px) rotateY(-60deg) scale(1.5);
}

.intermediate-projects-container .simple-projects-title-description > p {
  border-bottom-color: rgba(255, 255, 255, 0.519);
  border-top-color: rgba(255, 255, 255, 0.512);
}

.intermediate-projects-container .exit-to-menu-button {
  font-size: 14px;
}

.intermediate-projects-container .exit-to-menu-button > img {
  width: 45px;
}