#mainPage-container {
  background: url('../assets/Mainpage/background/assassinsCreedAnimusLoadingScreen.jpg') center
    center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.gradient-background {
  background: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.284) 20px,
    rgba(0, 0, 0, 0.288) 20px
  );
  bottom: 0;
  height: 100vh;
  position: absolute;
  width: 50vw;
  transform: skew(35deg, 0deg);
  transform-origin: bottom left;
  z-index: -1;
}

.gradient-background2 {
  background: repeating-linear-gradient(
    -90deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.284) 20px,
    rgba(0, 0, 0, 0.288) 20px
  );
  bottom: 0;
  right: 0;
  height: 100vh;
  position: absolute;
  width: 50vw;
  transform: skew(-35deg, 0deg);
  transform-origin: bottom right;
  z-index: -1;
}

.mainPage-menuItems {
  display: grid;
  /* grid-template-columns: auto; */
  grid-template-rows: repeat(auto-fill, auto);
  grid-gap: 10px;
  left: 300px;
  position: absolute;
  top: 300px;
}

.menuSelect-item-container {
  background-color: black;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 22px;
  letter-spacing: 0.05em;
  padding: 6px 20px 6px 10px;
  position: relative;
  text-decoration: none;
  transform: skew(40deg);
  width: 280px;
}

.menuSelect-item-container:hover {
  background-color: darkred;
  border: 1px solid white;
  transform: scale(1.1) skew(45deg);
}

.menuSelect-innerText {
  align-self: center;
  height: 100%;
  padding: 0 20px;
  transform: skew(-40deg);
  width: 100%;
}

.hex-nameBadge {
  left: 220px;
  top: 100px;
}
