#category-container {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: auto 100px;
  height: 500px;
  position: relative;
  text-decoration: none;
  text-align: center;
  width: 300px;
  z-index: 1;
}


#category-container::after {
  background-color: rgba(0, 0, 0, 0.41);
  content: ' ';
  height: 500px;
  position: absolute;
  width: 300px;
  z-index: 1;
}

#category-container:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.category-background {
  height: 500px;
  object-fit: cover;
  position: absolute;
  width: 300px;
  z-index: 1;
}

.category-title {
  align-items: center;
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  z-index: 2;
}

.category-title:hover {
  animation: bounce 0.2s 3 ease;
  color: white;
}

.category-description-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.203);
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.category-description-text {
  padding: 0 20px;
  z-index: 2;
}

@keyframes bounce {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0);
  }
}
