.intermediate-projects-container .project-preview {
  align-self: center;
  -webkit-box-shadow: 
    0px 0px 0px 10px rgba(0, 0, 0, 0.525), 
    inset 0px 5px 17px 45px #000000,
    inset 0px -5px 17px 45px rgb(0, 0, 0), 
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 
    0px 0px 0px 10px rgba(0, 0, 0, 0.525), 
    inset 0px 5px 17px 45px #000000,
    inset 0px -5px 17px 45px rgb(0, 0, 0), 
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  height: fit-content;
  margin: 230px 0 0 25px;
  /* transform: perspective(1000px) rotateY(0); */
  width: 150px;
}