.name-badge {
  align-self: flex-end;
  background-color: black;
  border-radius: 5px;
  bottom: 5px;
  color: white;
  left: 98px;
  padding: 18px 45px 18px 45px;
  position: absolute;
  text-align: center;
  transform: skew(-35deg);
  width: 420px;
}

.name,
.sub-title {
  transform: skew(35deg);
}

.name {
  background: url('../assets/d392y7n-920dcf13-96bd-4974-a7b2-d03c0166d911.jpg') center center;
  background-clip: text;
  background-repeat: repeat;
  color: #fff;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  -webkit-text-fill-color: transparent;
}

.sub-title {
  font-size: 24px;
  margin-left: 45px;
}